.front {
  
  &_text {
    margin-bottom: $base-spacing-unit;
  }
  
  &_little {
    font-size: $font-size-base;
    font-weight: $font-weight-light;
  }
  
  &_big {
    font-size: double($font-size-base);
    font-weight: $font-weight-bold;
  }
  
  &_bigger {
    font-weight: $font-weight-bolder;
    font-size: double($font-size-base);
  }
}
