.front {
  
  &_little {
    font-size: $font-size-base;
    font-weight: $font-weight-light;
  }
  
  &_big {
    font-size: $font-size-brand;
    font-weight: $font-weight-light;
  }
  
  &_bigger {
    font-weight: $font-weight-bolder;
    font-size: double($font-size-base)
  }
}
